@media only screen and (min-width:46.25em) and (max-width:80.5625em) {
    #nav{
        display: none;
    }
    #header{
        height: 126px;
        line-height: 126px;
    }
    .heder_ipat{
        display: block;
        padding: 25px;
        
    }
    .heder_logoIp{
        text-align: center;
        line-height: 0;
    }
    .header_logo-ip{
        color: #fff;
        width: 160px;
        height: 38px;
    }
    .header_menu_Ip{
        line-height: 0;
        text-align: center;
        margin-top: 11px;
    }
    .ti-align-justify{
        margin-left: 0;
    
    }

    #slider {
        margin-top: -126px;
    }
    .slider_img {
        background-image: url(/AppImg/parallax-2.jpg);
        background-repeat: no-repeat;
        width: 100%;
        text-align: center;
        background-position-y:0 ;
        background-size:cover;

    }
    .slider_list_img>input{
            width: 70%;
    }
    
    .slider_time{
        flex-direction: column;
        align-items: center;
    }
    .slider_time>div{
        width: 80%;
    }
    .colum1{
        width: calc(50% - 30px);
        margin-top: 10px;
    }
    .git_no2{
        height: 400px;
        flex-direction: column;
    }
    .text_git{
        align-self: flex-start;
    padding-left: 100px;
    font-size: 30px;
 
}
.colum_4{
    width: 100%;
}
.colum_8{
    width: 100%;
}
}

/*  mobile */

@media only screen and (max-width:46.1875em){
    #header{
        height: 125px;
       
    }
    #nav{
        display: none;
    }
    .heder_ipat{
        display: block;
        padding: 25px;
        
    }

.heder_logoIp{
    text-align: center;
    line-height: 0;
}
.header_logo-ip{
    color: #fff;
    width: 160px;
    height: 38px;
}
.header_menu_Ip{
    line-height: 0;
    text-align: center;
    margin-top: 11px;
}
.ti-align-justify{
    margin-left: 0;
}

#slider {
    margin-top: -126px;
}

.slider_img {
    background-image: url(/AppImg/parallax-2.jpg);
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    background-position-y:0 ;
    background-size:cover;

}
.slider_time{
    flex-direction: column;
    align-items: center;
}

.slider_list_img>input{
    width: 70%;
}

.slider_time>div{
    width: 80%;
}
.slider_list_img>h1{
    padding: 0 80px;
    margin-bottom: 180px;
}
.colum1{
    width: 100%;

}
.git_no2{
    height: 360px;
    flex-direction: column;
    padding-top: 60px;
    
}
/* .text_git{
    align-self: flex-start;
    font-size: 25px;
} */

}